*.pyc
*.so
*~
build
debian/files
debian/*.debhelper.log
debian/*.debhelper
debian/*.substvars
debian/python-tornado/
debian/python-module-stampdir/
python-build-stamp-2.5
dist/
tornado.egg-info
tornado.iml
