Source: python-tornado
Section: python
Priority: optional
Maintainer: Facebook <python-tornado@googlegroups.com>
XS-Python-Version: >=2.5
Build-Depends: cdbs (>= 0.4.49), python-setuptools (>= 0.6b3), debhelper (>= 5), python-support (>= 0.5.3)
Standards-Version: 3.7.2

Package: python-tornado
Architecture: all
Depends: ${python:Depends}, 
  python-pkg-resources,
  python-pycurl,
Recommends: python-simplejson 
Suggests: 
Provides: ${python:Provides}
Description: Tornado

